Java/Java3-4_zip/Java3-4/files/xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Test.Namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:int" name="papers"/>
                <xs:element type="xs:int" name="cost"/>
                <xs:element type="xs:string" name="autor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>